# rust build artifacts
rust/target
*.so

# python build artifacts
cardano_serialization_lib.egg-info/
dist/

# ide support
.vscode/
.idea
rust/.idea

# pyenv
.python-version

# direnv
.envrc

rust/.cargo/config
